@import url('https://fonts.googleapis.com/css?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');

* {
  background-color: white;
}

body {
  font-family: 'Pangolin', cursive;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  overflow: scroll;
  height: 60vh;
}

footer {
  background-color: white !important;
  position: relative;
}

.text-2 {
  font-family: 'News Cycle', 'sans-serif';
}

.subfont {
  font-family: 'News Cycle', 'sans-serif';
  font-size: 8px;
  color: #00897b;
}

